
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Veg">
      <th mat-header-cell *matHeaderCellDef> Veg </th>
      <td mat-cell *matCellDef="let element"> {{element.Veg}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.Cost}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Nonveg">
      <th mat-header-cell *matHeaderCellDef> NonVeg </th>
      <td mat-cell *matCellDef="let element"> {{element.Nonveg}} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  