<mat-grid-list cols="2">
    <mat-grid-tile>
        <div>
            <h1>Menu</h1>
           <mat-list>
               <a mat-list-item href="../menu">Veg Items</a>
               <a mat-list-item href="../menu/">Non Veg Items</a>
    
           </mat-list>
        </div>
    </mat-grid-tile> 
    <mat-grid-tile>
       <div>
        <h2>Restaurents</h2>
           <mat-nav-list>
           <a mat-list-item href="../menu">Kalinga Restaurent</a>
            <a mat-list-item href="../menu">Royal Restautent</a>
            <a mat-list-item href="../menu">Pandya Restaurent</a>
            <a mat-list-item href="../menu">Chola Restaurent</a>
           </mat-nav-list>
       </div>
    </mat-grid-tile>

</mat-grid-list>

